In [1]:
import pandas as pd
import numpy as np

tweets = pd.read_csv('../TP1-Organizacion-de-Datos/csv/train.csv')
tweets.sample(n=5)

,id,keyword,location,text,target
1365,1968,burning%20buildings,"Epic City, BB.",I Pledge Allegiance To The P.O.P.E. And The Bu...,1
1259,1815,buildings%20on%20fire,"Boston, MA",Three-alarm fire destroys two residential buil...,1
52,76,ablaze,Barbados,SANTA CRUZ ÛÓ Head of the St Elizabeth Police...,0
4293,6098,hellfire,NaN,Hellfire! We donÛªt even want to think about ...,0
3519,5032,eyewitness,Stay Fly?,Lone Survivor: The Eyewitness Account of Opera...,1

In [2]:
tweets_final = tweets.rename(columns={'target':'about_disaster'})
tweets_final['about_disaster'] = ((tweets_final['about_disaster'])==1)
tweets_final.head()

,id,keyword,location,text,about_disaster
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,True
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,True
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,True
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",True
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,True

In [3]:
tweets_final['keyword'].fillna("none_keyword", inplace=True)

In [4]:
tweets_por_keyword = tweets_final.groupby(['keyword']).agg({'about_disaster':['sum','count']})
tweets_por_keyword.head()

                    about_disaster
                               sum count
keyword
ablaze                        13.0    36
accident                      24.0    35
aftershock                     0.0    34
airplane%20accident           30.0    35
ambulance                     20.0    38

In [5]:
tweets_por_keyword.info()

<class 'pandas.core.frame.DataFrame'>
Index: 222 entries, ablaze to wrecked
Data columns (total 2 columns):
(about_disaster, sum)      222 non-null float64
(about_disaster, count)    222 non-null int64
dtypes: float64(1), int64(1)
memory usage: 5.2+ KB

In [6]:
nivel0 = tweets_por_keyword.columns.get_level_values(0)
nivel1 = tweets_por_keyword.columns.get_level_values(1)
tweets_por_keyword.columns = nivel0 + '_' + nivel1
tweets_por_keyword.head()

                     about_disaster_sum  about_disaster_count
keyword
ablaze                             13.0                    36
accident                           24.0                    35
aftershock                          0.0                    34
airplane%20accident                30.0                    35
ambulance                          20.0                    38

In [7]:
nuevos_nombres = {'about_disaster_sum':'about_disaster_true', 'about_disaster_count':'count'}
tweets_por_keyword.rename(columns=nuevos_nombres, inplace=True)
tweets_por_keyword.head()

                     about_disaster_true  count
keyword
ablaze                              13.0     36
accident                            24.0     35
aftershock                           0.0     34
airplane%20accident                 30.0     35
ambulance                           20.0     38

In [10]:
tweets_por_keyword['about_disaster_false'] = tweets_por_keyword['count'] - tweets_por_keyword['about_disaster_true']
tweets_por_keyword['veracity'] =  tweets_por_keyword['about_disaster_true']/tweets_por_keyword['count']
tweets_por_keyword = tweets_por_keyword[['about_disaster_true', 'about_disaster_false', 'count', 'veracity']]
tweets_por_keyword.sort_values(by='veracity', ascending=False, inplace=True)
tweets_por_keyword.head(20)

,about_disaster_true,about_disaster_false,count,veracity
keyword,,,,
wreckage,39.0,0.0,39,1.000000
derailment,39.0,0.0,39,1.000000
debris,37.0,0.0,37,1.000000
outbreak,39.0,1.0,40,0.975000
typhoon,37.0,1.0,38,0.973684
oil%20spill,37.0,1.0,38,0.973684
suicide%20bombing,32.0,1.0,33,0.969697
suicide%20bomber,30.0,1.0,31,0.967742
bombing,27.0,2.0,29,0.931034
suicide%20bomb,32.0,3.0,35,0.914286
rescuers,32.0,3.0,35,0.914286
nuclear%20disaster,31.0,3.0,34,0.911765
evacuated,32.0,4.0,36,0.888889
razed,31.0,4.0,35,0.885714
wildfire,29.0,4.0,33,0.878788
wild%20fires,27.0,4.0,31,0.870968
airplane%20accident,30.0,5.0,35,0.857143
mass%20murder,28.0,5.0,33,0.848485
buildings%20on%20fire,28.0,5.0,33,0.848485
forest%20fires,27.0,5.0,32,0.843750