In [13]:
import pandas as pd
import numpy as np

tweets = pd.read_csv('../TP1-Organizacion-de-Datos/csv/train.csv')
tweets.sample(n=5)

,id,keyword,location,text,target
5515,7869,quarantined,NaN,gmtTy mhtw4fnet\n\nOfficials: Alabama home qua...,1
1970,2835,cyclone,Tafekop Ga-Matsepe,Like a cyclone imperialism spins across the gl...,1
2342,3369,demolition,NaN,#download &amp; #watch Demolition Frog (2002) ...,1
4689,6665,landslide,USA,Speaking of memorable debates: 60-Second Know-...,0
6354,9084,structural%20failure,"VÌ_sterÌ´s, Sweden",@whvholst @leashless And this is a structural ...,0

In [14]:
tweets_final = tweets.rename(columns={'target':'about_disaster'})
tweets_final['about_disaster'] = ((tweets_final['about_disaster'])==1)
tweets_final.sample(n=5)

,id,keyword,location,text,about_disaster
6705,9605,thunder,NaN,Thunder???,False
3708,5273,fear,"Cape Town, Khayelitsha",@Luzukokoti it's all about understanding umnt...,False
7104,10177,violent%20storm,NaN,I don't understand 'taking' ANY life as a trop...,True
5863,8375,ruin,"Winnipeg, Manitoba",Why do u ruin everything? @9tarbox u ruined t...,False
3239,4655,engulfed,NaN,Men escape car engulfed in flames in Parley's ...,True