In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.cm as cm

tweets = pd.read_csv('csv/train.csv', usecols=['location', 'target'])
tweets.head()

  location  target
0      NaN       1
1      NaN       1
2      NaN       1
3      NaN       1
4      NaN       1

In [2]:
tweets.fillna(value= 'Not Especified')

            location  target
0     Not Especified       1
1     Not Especified       1
2     Not Especified       1
3     Not Especified       1
4     Not Especified       1
...              ...     ...
7608  Not Especified       1
7609  Not Especified       1
7610  Not Especified       1
7611  Not Especified       1
7612  Not Especified       1

[7613 rows x 2 columns]

In [3]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   location  5080 non-null   object
 1   target    7613 non-null   int64
dtypes: int64(1), object(1)
memory usage: 119.1+ KB

In [4]:
tweets['location'].value_counts()

USA                      104
New York                  71
United States             50
London                    45
Canada                    29
                        ...
VitÌ_ria (ES)              1
The dark                   1
antioch, california        1
Den Helder, Rijkswerf      1
Houston, Texas             1
Name: location, Length: 3341, dtype: int64

In [5]:
tweets['cuantity'] = 1
tweets_by_loc= tweets.groupby('location').sum()

In [6]:
tweets_by_loc.head()

                        target  cuantity
location
                             1         1
  Glasgow                    0         1
  Melbourne, Australia       0         1
  News                       1         1
  å_                         0         1

In [7]:
tweets_by_loc = tweets_by_loc.sort_values('target', ascending=False)

In [8]:
tweets_by_loc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3341 entries, USA to Mid West
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   target    3341 non-null   int64
 1   cuantity  3341 non-null   int64
dtypes: int64(2)
memory usage: 78.3+ KB

In [12]:
tweets_by_loc['Veracity Absolute Frecuency'] = tweets_by_loc['target'] / tweets_by_loc['cuantity']
tweets_by_loc.head(10)

                target  cuantity  Veracity Absolute Frecuency
location
USA                 67       104                     0.644231
United States       27        50                     0.540000
Nigeria             22        28                     0.785714
India               20        24                     0.833333
Mumbai              19        22                     0.863636
New York            16        71                     0.225352
London              16        45                     0.355556
UK                  16        27                     0.592593
Washington, DC      15        21                     0.714286
Canada              13        29                     0.448276

In [29]:
cuantity_mean = tweets_by_loc['cuantity'].mean()
has_more_tweets_than_cuantity_mean = (tweets_by_loc['cuantity'] > 10)
tweets_frecuency_by_loc = tweets_by_loc[has_more_tweets_than_cuantity_mean]
del tweets_frecuency_by_loc['target']
del tweets_frecuency_by_loc['cuantity']
tweets_frecuency_by_loc = tweets_frecuency_by_loc.sort_values('Veracity Absolute Frecuency', ascending =False)
tweets_frecuency_by_loc = tweets_frecuency_by_loc.reset_index()
tweets_frecuency_by_loc.head(10)

KeyError: 'cuantity'

In [26]:
del tweets_by_loc['Veracity Absolute Frecuency']
del tweets_by_loc['cuantity']

In [30]:
tweets_by_loc = tweets_by_loc.reset_index()
tweets_by_loc.head()

        location  target
0            USA      67
1  United States      27
2        Nigeria      22
3          India      20
4         Mumbai      19