## Voy a hacer un analisis de la relacion entre que palabras contienen los tweets y su veracidad. Este analisis abarca, cantidad de palabras, cantidad de caracteres y que palabras aparecen.

#### Importo las librerias necesarias

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

#### Creo el data frame en base al csv

In [2]:
tweets = pd.read_csv('csv/train.csv', encoding='latin-1')

#### Analizo como esta formado mi data frame

In [3]:
tweets.sample(n=3)

,id,keyword,location,text,target
7514,10747,wreckage,NaN,#science Now that a piece of wreckage from fli...,1
6477,9264,sunk,"London, England",It still hasn't sunk in that I've actually met...,0
6404,9154,suicide%20bomber,NaN,Suicide bomber kills 15 in Saudi security site...,1

#### Tanto la columna de location, keyword e id son irrelevantes para este analisis.

In [4]:
del(tweets['keyword'])
del(tweets['location'])
del(tweets['id'])
tweets.sample(n=3)

                                                   text  target
6929  why is it trouble@niallhariss / @simply_vain l...       0
6440  Malik Saadthe best police officer produced by ...       1
4758                      @Benji_Devos thanks thanks :3       0

#### me guardo cuantos caracteres contiene cada tweet

In [5]:
tweets['nºcaracteres'] = tweets['text'].str.len()

In [6]:
tweets.sample(n=3)

                                                   text  target  nºcaracteres
7610  M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...       1            65
2323  It was finally demolished in the spring of 201...       0           140
4374  Governor allows parole for California school b...       1           113

#### Ahora me interesa separar el texto en palabras.

In [7]:
tweets['palabras']=tweets['text'].str.split()

In [8]:
tweets.head()

,text,target,nºcaracteres,palabras
0,Our Deeds are the Reason of this #earthquake M...,1,69,"[Our, Deeds, are, the, Reason, of, this, #eart..."
1,Forest fire near La Ronge Sask. Canada,1,38,"[Forest, fire, near, La, Ronge, Sask., Canada]"
2,All residents asked to 'shelter in place' are ...,1,133,"[All, residents, asked, to, 'shelter, in, plac..."
3,"13,000 people receive #wildfires evacuation or...",1,65,"[13,000, people, receive, #wildfires, evacuati..."
4,Just got sent this photo from Ruby #Alaska as ...,1,88,"[Just, got, sent, this, photo, from, Ruby, #Al..."

#### Reordeno las columnas para mayor claridad.

In [9]:
tweets = tweets[['text','palabras','nºcaracteres','target']]

In [10]:
tweets.head()

,text,palabras,nºcaracteres,target
0,Our Deeds are the Reason of this #earthquake M...,"[Our, Deeds, are, the, Reason, of, this, #eart...",69,1
1,Forest fire near La Ronge Sask. Canada,"[Forest, fire, near, La, Ronge, Sask., Canada]",38,1
2,All residents asked to 'shelter in place' are ...,"[All, residents, asked, to, 'shelter, in, plac...",133,1
3,"13,000 people receive #wildfires evacuation or...","[13,000, people, receive, #wildfires, evacuati...",65,1
4,Just got sent this photo from Ruby #Alaska as ...,"[Just, got, sent, this, photo, from, Ruby, #Al...",88,1

#### Me interesa saber cuantas palabras tiene que cada tweet.

In [13]:
type(tweets['palabras'])

pandas.core.series.Series

#### Guardo la cantidad de palabras en una nueva columna

In [12]:
lista_auxiliar = []
for i in tweets['palabras']
    lista_auxiliar.append()

In [14]:
tweets.sample(n=3)

,text,palabras,nºcaracteres,target,nºpalabras
4610,DAL News: Wednesday's injury report: RB Lance ...,"[DAL, News:, Wednesday's, injury, report:, RB,...",113,0,7613
329,@Karnythia my niece is gaining the ability to ...,"[@Karnythia, my, niece, is, gaining, the, abil...",107,0,7613
579,.@APHL responds: FedEx no longer to transport ...,"[.@APHL, responds:, FedEx, no, longer, to, tra...",115,1,7613