## Voy a hacer un analisis de la relacion entre que palabras contienen los tweets y su veracidad. Este analisis abarca, cantidad de palabras, cantidad de caracteres y palabras que aparecen.

#### Importo las librerias necesarias

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

#### Creo el data frame en base al csv

In [2]:
tweets = pd.read_csv('csv/train.csv', encoding='latin-1')

#### Analizo como esta formado mi data frame

In [3]:
tweets.sample(n=3)

,id,keyword,location,text,target
956,1383,body%20bag,NaN,# handbags Genuine Mulberry Antony Cross Body ...,0
5868,8385,ruin,#RedSoxNation,@JulieChen she shouldn't. Being with them is g...,0
1992,2865,damage,"Columbia, SC",@writebothfists It got pretty windy here too.....,0

#### Tanto la columna de location, keyword e id son irrelevantes para este analisis.

In [4]:
del(tweets['keyword'])
del(tweets['location'])
tweets.sample(n=3)

        id                                               text  target
4930  7024  @RaynbowAffair Editor In Chief @DiamondKesawn ...       0
1977  2844  Some drugs and alcohol in Jackson Vroman house...       0
1508  2176  The best part of old baseball managers wearing...       0

#### me guardo cuantos caracteres contiene cada tweet

In [5]:
tweets['nºcaracteres'] = tweets['text'].str.len()

In [6]:
tweets.sample(n=3)

,id,text,target,nºcaracteres
1480,2133,#Denver CO #Insurance #Job: Claims Property Fi...,0,139
7066,10120,Ancient Mayan Tablet with Hieroglyphics Honors...,0,103
4399,6255,#hot Funtenna: hijacking computers to send da...,0,119

#### Ahora me interesa separar el texto en palabras.

In [7]:
tweets['palabras']=tweets['text'].str.split()

In [8]:
tweets.head()

,id,text,target,nºcaracteres,palabras
0,1,Our Deeds are the Reason of this #earthquake M...,1,69,"[Our, Deeds, are, the, Reason, of, this, #eart..."
1,4,Forest fire near La Ronge Sask. Canada,1,38,"[Forest, fire, near, La, Ronge, Sask., Canada]"
2,5,All residents asked to 'shelter in place' are ...,1,133,"[All, residents, asked, to, 'shelter, in, plac..."
3,6,"13,000 people receive #wildfires evacuation or...",1,65,"[13,000, people, receive, #wildfires, evacuati..."
4,7,Just got sent this photo from Ruby #Alaska as ...,1,88,"[Just, got, sent, this, photo, from, Ruby, #Al..."

#### Reordeno las columnas para mayor claridad.

In [9]:
tweets = tweets[['id','text','palabras','nºcaracteres','target']]

In [10]:
tweets.head()

,id,text,palabras,nºcaracteres,target
0,1,Our Deeds are the Reason of this #earthquake M...,"[Our, Deeds, are, the, Reason, of, this, #eart...",69,1
1,4,Forest fire near La Ronge Sask. Canada,"[Forest, fire, near, La, Ronge, Sask., Canada]",38,1
2,5,All residents asked to 'shelter in place' are ...,"[All, residents, asked, to, 'shelter, in, plac...",133,1
3,6,"13,000 people receive #wildfires evacuation or...","[13,000, people, receive, #wildfires, evacuati...",65,1
4,7,Just got sent this photo from Ruby #Alaska as ...,"[Just, got, sent, this, photo, from, Ruby, #Al...",88,1

#### Me interesa saber cuantas palabras tiene que cada tweet.

In [11]:
type(tweets['palabras'])

pandas.core.series.Series

#### Guardo la cantidad de palabras en una nueva columna

In [12]:
lista_auxiliar = []
for i in tweets['palabras']:
    lista_auxiliar.append( len(i) )

In [13]:
tweets['nºpalabras'] = lista_auxiliar

In [14]:
tweets.head()

,id,text,palabras,nºcaracteres,target,nºpalabras
0,1,Our Deeds are the Reason of this #earthquake M...,"[Our, Deeds, are, the, Reason, of, this, #eart...",69,1,13
1,4,Forest fire near La Ronge Sask. Canada,"[Forest, fire, near, La, Ronge, Sask., Canada]",38,1,7
2,5,All residents asked to 'shelter in place' are ...,"[All, residents, asked, to, 'shelter, in, plac...",133,1,22
3,6,"13,000 people receive #wildfires evacuation or...","[13,000, people, receive, #wildfires, evacuati...",65,1,8
4,7,Just got sent this photo from Ruby #Alaska as ...,"[Just, got, sent, this, photo, from, Ruby, #Al...",88,1,16

#### Reordeno

In [15]:
tweets = tweets[['id','text','palabras','nºcaracteres','nºpalabras','target']]

In [16]:
tweets.head()

,id,text,palabras,nºcaracteres,nºpalabras,target
0,1,Our Deeds are the Reason of this #earthquake M...,"[Our, Deeds, are, the, Reason, of, this, #eart...",69,13,1
1,4,Forest fire near La Ronge Sask. Canada,"[Forest, fire, near, La, Ronge, Sask., Canada]",38,7,1
2,5,All residents asked to 'shelter in place' are ...,"[All, residents, asked, to, 'shelter, in, plac...",133,22,1
3,6,"13,000 people receive #wildfires evacuation or...","[13,000, people, receive, #wildfires, evacuati...",65,8,1
4,7,Just got sent this photo from Ruby #Alaska as ...,"[Just, got, sent, this, photo, from, Ruby, #Al...",88,16,1

#### Ya tengo bastante ordenado el data frame. Procedo a analizar.

## Palabras que tienen mas ocurrencias en tweets.

#### Procedo a crear un nuevo dataframe, donde levanto cada palabra junto con su target y id de tweet.

In [17]:
palabras = tweets.explode('palabras')
del(palabras['text'])
del(palabras['nºcaracteres'])
del(palabras['nºpalabras'])
palabras.rename({'palabras': 'palabra', 'id': 'id_tweet','target': 'target_tweet' }, axis=1, inplace=True)
palabras.reset_index(inplace=True)
palabras.head()

   index  id_tweet palabra  target_tweet
0      0         1     Our             1
1      0         1   Deeds             1
2      0         1     are             1
3      0         1     the             1
4      0         1  Reason             1

#### En el analisis no voy a discrimnar por mayusculas, paso todo a minuscula.

In [18]:
palabras['palabra'] = palabras['palabra'].str.lower()
palabras.head()

   index  id_tweet palabra  target_tweet
0      0         1     our             1
1      0         1   deeds             1
2      0         1     are             1
3      0         1     the             1
4      0         1  reason             1

#### Hay casos donde la palabra empieza con un caracter especial, ejemplo de #.

In [19]:
palabras.iloc[7]

index                     0
id_tweet                  1
palabra         #earthquake
target_tweet              1
Name: 7, dtype: object

#### Yo quiero eliminar dichos caracteres, ya que en el caso que se encuentren ""#earthquake" y "earthquake" busco que cuenten como la misma palabra.

In [20]:
import re
palabras_limpias = []
for palabra in palabras['palabra']:
    palabra_limpia = re.sub('[^A-Za-z0-9]+','', palabra)
    palabras_limpias.append(palabra_limpia)

In [21]:
palabras['palabra']=palabras_limpias

In [22]:
palabras.iloc[7]

index                    0
id_tweet                 1
palabra         earthquake
target_tweet             1
Name: 7, dtype: object

#### Ahora ya borramos los caracteres especiales, el siguiente paso es borrar las palabras que aparecen 2 veces en un tweet. Esto es para que las ocurrencias no cuenten doble.