In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.cm as cm

tweets = pd.read_csv('csv/train.csv', usecols=['location', 'target'])
tweets.head()

  location  target
0      NaN       1
1      NaN       1
2      NaN       1
3      NaN       1
4      NaN       1